@font-face {
    font-family: rondo;
    src: url(rondo.ttf);
}

body {
    background-color: #769dab;
    text-align: center;
}

#header {
    font-family: rondo;
    color: #ffe6c9;
    font-size: 40px;
    font-weight: normal;
    margin-top: 50px;
}

#displayBlock {
    display: block;
}

.center {
    text-align: center;
    margin: auto;
}

#clearGrid {
    padding: 12px 10px;
}

.gridBox {
    border: 1px solid lightgrey;
}

.hover {
    background-color: black;
    border: 1px solid black;
}